<div class="" id="link-feed">
  <%= render :partial => @links %>
</div>
<br>
<div id="loading-text" style='text-align: center'>
</div>
<div id="load-links-container">
  <%= link_to load_links_path(0), remote: true, id: "load-links" do %>
  <% end %>
</div>
